.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest){
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header{
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; //space is distributed evenly in between.
  align-items: center; //vertically items are centered

  @media only screen and (max-width: $bp-smallest){
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; //we are allowing items to grow
    height: 11rem;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}

.content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media only screen and (max-width: $bp-medium){
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar{
  background-color: var(--color-grey-dark-1);
  //flex basis is the property that controls size of the flex item
  flex: 0 0 18%; //flex grow, flex shrink and flex basis
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; //this changes the direction of main axis to column.
  justify-content: space-between;
}

.hotel-view{
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; //it should grow over all the available space.
}

.detail{
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);

  @media only screen and (max-width: $bp-medium){
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small){
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description{
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium){
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small){
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
